node_modules
.next
.git
.gitignore
.env.local
.env*.local
*.md
README.md
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
infrastructure.bak
infrastructure
.github
Dockerfile
.dockerignore
deploy.sh
teardown.sh
