# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/

# Terraform
/infrastructure/.terraform/
/infrastructure/.terraform.lock.hcl
/infrastructure/terraform.tfstate
/infrastructure/terraform.tfstate.backup
/infrastructure/terraform.tfvars
/infrastructure/.terraform.tfstate.lock.info

# AWS
.aws/
credentials
config

# Logs
logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
CLAUDE.md
ECS_FARGATE_MIGRATION_GUIDE.md
TERRAFORM_DEPLOYMENT_GUIDE.md